body{
  background-color: #3fb7ae;
}
.container{
  background-color: white;
  width: 90%;
}
.img-logo{
  width: 100px;
  margin-top: 2vh;
  margin-left: 2vw;
}
.img-social {
  width: 2vw;
}
.redes-sociales {
  margin-bottom: 1vh;
  margin-right: 1vw;
  padding-bottom: 1vh;
}
ul{
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  position: relative;
  clear: both;
}
ul li{
  font-size: 1.5em;
  padding: 0.1vw 0;
  font-family: 'Comfortaa', cursive;
  display: inline-block;
}
ul::after{
    content: ".";
    display: inline-block;
    width: 100%;
    visibility: hidden;
}
.navbar{
  background-color: #f37920;
  vertical-align: middle;
}

nav a:link {
  text-align:center;
  padding:1vw;
  text-decoration:none;
  font-size:1em;
  color:#ffffff;
  }
nav a:hover {
		background-color:#3fb7ae;
		text-align:center;
		}
.activo{
    background-color:#3fb7ae;
    color:#ffffff;
  }
.img-tributo{
  width: 100%;
  padding: 1vh 1vh;
}
h1{
  padding-left: 1vh;
  font-family: 'Comfortaa', cursive;
}
p{
font-family: 'Open Sans', sans-serif;
text-align: left;
padding-left: 1.5vw;
padding-right: 1.5vw;
}
.buscador{
  height: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
@media only screen and (max-width: 600px){

ul{
  padding: 0;
}
  li{
    width: 100%;
    text-align: center;
    height: 6vh;
  }
nav a:link{
  padding: 105vh auto;

}
.activo{
  background-color:#3fb7ae;
  display: block;
  }
.img-social {
  width: 7vw;
  margin-top: 2vh;
  }
header, .redes-sociales{
  text-align: center;
  }
}
