.img-logo{
  width: 100px;
  margin-top: 2rem;
  margin-left: 3rem;
}
.img-social {
  width: 40px;
  height: 40px;
}
.redes-sociales {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: justify;
}
ul li{
  font-size: 1.5em;
  margin: 0px 5px;
  padding: 10px 15px;
  height: 100%;
  display: inline-block;
}
ul::after{
    content: ".";
    display: inline-block;
    width: 100%;
    visibility: hidden;
}
