.container{
  width: 90%;
}
.img-logo{
  width: 100px;
  margin-top: 2rem;
  margin-left: 3rem;
}
.img-social {
  width: 40px;
  height: 40px;
}
.redes-sociales {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-bottom: 1vh;
}
ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: justify;
}
ul li{
  font-size: 1.5em;
  margin: 0px 5px;
  padding: 5px 5px;
  height: 100%;
  display: inline-block;
}
ul::after{
    content: ".";
    display: inline-block;
    width: 100%;
    visibility: hidden;
}
.img-tributo{
  width: 100%;
  padding: 1vh 1vh;
}
h1{
  padding-left: 1rem;
  font-family: 'Comfortaa', cursive;
}
p{
font-family: 'Open Sans', sans-serif;
text-align: left;
padding-left: 1.5rem;
padding-right: 1.5rem;
}
.buscador{
  height: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
body{
  background-color: #494846;
}
.container{
  background-color: white;
}
.navbar{
  background-color: #f37920;
}
